# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
*.egg-info/

# Logs
logs/
*.log

# IDE and editor settings
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/

# Build artifacts
dist/
build/

# Secrets
.env
